<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/nuevacontraseña.css">
    <title>recuperacion de contraseña</title>
</head>
<body>
    <div class="contenedor">
        <div class="recuadro">

            <h2>digite su nueva contraseña</h2>
            <input type="password" name="contraseña" id="contraseña" inputmode="password" required>
            
        
            <h2>digite de nuevo su contraseña</h2>
            <input type="password" name="contraseña" id="contraseña" inputmode="password" required>
        </div>
    </div>

    

</body>

</html>